:root {
    --f-default-text-font: 'Inter', sans-serif;
    --logo-text-font: 'Major Mono Display', monospace;
    --f-default-headers-weight: 700;
    --f-h1-text-size: 38px;
    --f-h2-text-size: 30px;
    --f-h3-text-size: 24px;
    --f-h4-text-size: 16px;
    --f-h5-text-size: 14px;
    --f-h6-text-size: 12px;
    --f-links-text-color: #1A5AFF;
    --f-links-text-hover-color: #1A5AFF;
    --f-links-text-visited-color: #1A5AFF;
    --f-links-text-active-color: #1A5AFF;
    --f-forms-radius: 4px;
}

